#Python - Data Structure Assignment

## Data Types and Structures Questions

### 1. What are data structures, and why are they important?

-> A data structure is a way of organizing, managing, and storing data so that it can be used efficiently. It defines the relationship between data and the operations that can be performed on it.

Importance:

* Make data access faster.

* Save memory.

* Help write clean and organized code.

* Essential for building efficient algorithms.

Examples: List, Tuple, Dictionary, Set.

### 2. Explain the difference between mutable and immutable data types with examples.

* Mutable types allow modification of their content without changing their identity (memory location). You can change, add, or remove elements.

Examples: list, set, dictionary

In [3]:
#Example Code:

my_list = [1, 2, 3]

my_list.append(4)
print(my_list)

[1, 2, 3, 4]

Immutable types do not allow modification of their content once created. Any change creates a new object.

Examples: int, float, str, tuple

In [2]:
#Example Code:

my_str = "Hello"

my_str[0] = 'J' # This will give an error (strings are immutable)

TypeError: 'str' object does not support item assignment

### 3. What are the main differences between lists and tuples in Python?
->A list is a mutable data structure, which means its contents can be changed after creation. We can add, remove, or modify elements in a list. Lists are defined using square brackets []. They are commonly used when the data is expected to change during the execution of the program.

On the other hand, a tuple is immutable, meaning once it is created, its values cannot be altered. Tuples are defined using parentheses (). Since they are immutable, they are generally used when we want to store fixed collections of items that should not be modified.

In [6]:
# Example

my_list = [1, 2, 3]
my_list.append(4)  # Valid
print(my_list)

my_tuple = (1, 2, 3)
# my_tuple[0] = 10  # Invalid, will raise an error

[1, 2, 3, 4]

### 4.  Describe how dictionaries store data.

->  Dictionary is a built-in data structure that stores data in the form of key-value pairs. Each key is unique, and it maps to a specific value.

Dictionaries use a technique called hashing to store and retrieve data efficiently. When a dictionary is created, each key is passed through a hash function, which generates a unique hash code. This hash code determines where the key-value pair will be stored in memory. This allows Python to access values quickly using their keys.

In [7]:
#Example
student = {
    "name": "Suraj",
    "age": 22,
    "course": "MCA"
}
print(student["name"])

Suraj

### 5. Why might you use a set instead of a list in Python?

* You need only unique values:
Sets automatically remove duplicates, unlike lists which allow repeated items.

* Fast membership testing:
Checking if an element exists in a set is faster (O(1) average time) than in a list (O(n) time).

* Set operations are needed:
Sets support mathematical operations like union, intersection, difference, etc., which are not directly supported by lists.

In [8]:
# Example

my_list = [1, 2, 2, 3]
my_set = set(my_list)
print(my_set)

print(2 in my_set)

{1, 2, 3}
True

### 6. What is a string in Python, and how is it different from a list?
-> A string is a sequence of characters enclosed in single (') or double (") quotes. It is an immutable data type, meaning its contents cannot be changed after creation.

A list, on the other hand, is a collection of items (which can be of any data type) enclosed in square brackets []. Lists are mutable, so their elements can be modified, added, or removed.

Key Differences:

* Mutability:

    Strings are immutable

    Lists are mutable

* Data Type of Elements:

    A string contains only characters

    A list can contain any data type (int, float, str, etc.)

* Syntax:

    String: "hello" or 'hello'

    List: ['h', 'e', 'l', 'l', 'o']

### 7.  How do tuples ensure data integrity in Python?
-> Tuples are immutable, meaning once a tuple is created, its elements cannot be changed, added, or removed. This immutability helps ensure data integrity by preventing accidental modifications.

* Protects Data from Changes:
Since tuples can't be modified, the data remains constant throughout the program.

* Safe to Use as Keys:
Tuples can be used as keys in dictionaries or elements in sets, unlike lists.

* Reliable for Fixed Data:
Ideal for storing constant values like coordinates, months, or configuration settings.

### 8. What is a hash table, and how does it relate to dictionaries in Python?
-> A hash table is a data structure that stores data in an unordered way using key-value pairs. It uses a hash function to convert keys into unique indexes, which are then used to access the values quickly.

In Python, the dictionary (dict) is implemented using a hash table under the hood.

Each key in a dictionary is passed through a hash function.

The hash function returns a unique hash code (index).

This index determines where the key-value pair is stored in memory.

### 9. Can lists contain different data types in Python?
-> Yes, lists in Python can contain elements of different data types. Python lists are heterogeneous, meaning they can store a mix of data types in a single list.

In [9]:
# Example
my_list = [1, "hello", 3.14, True, [5, 6], {'a': 1}]
print(my_list)

[1, 'hello', 3.14, True, [5, 6], {'a': 1}]

### 10. Explain why strings are immutable in Python.
-> Strings are immutable, which means once a string is created, it cannot be changed. Any operation that tries to modify a string actually creates a new string object instead of changing the original one.


* Memory efficiency:
Immutable strings can be stored in a shared memory space, saving resources.

* Security:
Because strings are often used as identifiers (e.g., dictionary keys), immutability ensures they stay unchanged.

* Hashing:
Strings can be used as keys in dictionaries only because they are hashable (which requires immutability).

* Thread safety:
Since strings can't change, they're safe to use across multiple parts of a program without unexpected side effects.

### 11.  What advantages do dictionaries offer over lists for certain tasks?
-> Dictionaries offer advantages over lists when you need:

* Fast access to data using keys (O(1) time).

* Labeled data using key-value pairs.

* Unique identifiers for each item.

* Clear structure, especially for complex data like student records.

In [11]:
#Example

# Using list
student_list = ["Suraj", 21]
print(student_list)
# Using dictionary
student_dict = {"name": "Suraj", "age": 21}
print(student_dict)

['Suraj', 21]
{'name': 'Suraj', 'age': 21}

### 12. Describe a scenario where using a tuple would be preferable over a list.
-> A tuple is preferable when you need to store fixed, constant data that should not be changed during the program.

You are storing the coordinates of a location in a program:

coordinates = (28.6139, 77.2090)  # (latitude, longitude)

In this case:

The values should not be modified.

Tuples are faster and more memory efficient.

They ensure data integrity due to immutability.

### 13. How do sets handle duplicate values in Python?
-> A set is an unordered collection of unique elements. This means a set automatically removes duplicate values when it is created or updated.

Sets in Python do not allow duplicates. If you try to add a duplicate element, the set keeps only one copy, ensuring all elements are unique.

In [12]:
# Example
my_set = {1, 2, 2, 3, 3, 3}
print(my_set)
# All duplicates are removed automatically

{1, 2, 3}

### 14. How does the “in” keyword work differently for lists and dictionaries?
* In a List:

Checks if a value exists in the list.

* In a Dictionary:

Checks if a key exists (not the value).

In [13]:
# Example

my_list = [1, 2, 3]
print(2 in my_list)

my_dict = {'name': 'Suraj', 'age': 22}
print('name' in my_dict)
print('Suraj' in my_dict)    # False (value, not key)

True
True
False

### 15. Can you modify the elements of a tuple? Explain why or why not?
-> No, you cannot modify the elements of a tuple in Python because tuples are immutable. Once a tuple is created, its values cannot be changed, added, or removed.

Tuples are read-only collections. Their immutability helps protect data from accidental changes, which is why you cannot modify their elements.

Why Tuples Are Immutable:

* To ensure data integrity

* To make them hashable, so they can be used as keys in dictionaries

* For performance and memory efficiency

### 16.  What is a nested dictionary, and give an example of its use case?
-> A nested dictionary is a dictionary inside another dictionary.

It allows you to store complex, structured data in a hierarchical format.

Use Case Example:

Storing student records with details like name and marks:

In [14]:
students = {
    "101": {"name": "Suraj", "marks": 85},
    "102": {"name": "Amit", "marks": 90}
}

print(students["101"]["name"])

Suraj

When to Use:

* To represent data with multiple levels (e.g., database-like structure).

* For managing user profiles, JSON data, product catalogs, etc.

### 17. Describe the time complexity of accessing elements in a dictionary.

-> Dictionaries use a hash table to store key-value pairs. When you access a value using a key, Python calculates a hash of the key to find its memory location quickly.

This process gives an average time complexity of O(1), meaning access time remains constant regardless of dictionary size. It makes dictionary lookups very fast and efficient.

In rare cases of hash collisions, the time complexity can increase to O(n), but Python handles collisions efficiently. So, dictionary access is almost always very quick in practice.

### 18.  In what situations are lists preferred over dictionaries?
-> Lists are preferred over dictionaries when:

* Order matters:
Lists maintain the order of elements, useful when the sequence is important.

* Data is accessed by position (index):
When you refer to items by their position (e.g., first, last), lists are better.

* Simple collection of values:
When storing values without labels (e.g., numbers, names), lists are more straightforward.

* Duplicates are allowed:
Lists can contain duplicate values, which dictionaries cannot (in keys).

In [15]:
#Example
fruits = ["apple", "banana", "apple"]  # List allows duplicates
print(fruits[0])  # Access by index

apple

### 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-> Dictionaries were unordered, meaning the items did not maintain the order in which they were added. This meant you could not rely on the order of key-value pairs.

Modern Python (3.7 and above):
Dictionaries preserve insertion order, but they are still considered unordered in theory because:

* The primary purpose is key-based access, not sequence.
* Items are accessed by key, not by position or index.

Effect on Data Retrieval:

* Retrieval is done using keys, not order.
* You cannot access values by position like you do in a list (e.g., dict[0] is invalid).
* You must know the key to get the value.

### 20. Explain the difference between a list and a dictionary in terms of data retrieval.

List:

* Data is retrieved using index positions (e.g., 0, 1, 2).
* Indexing is sequential and numeric.
* You must know the position of the item.
* Use a list when data is accessed by position.

Dictionary:

* Data is retrieved using keys, not positions.
* Keys can be strings, numbers, or other immutable types.
* You must know the key to access its value.
* Use a dictionary when data is accessed by name or key.

In [16]:
# Example

#LIST
fruits = ['apple', 'banana', 'cherry']
print(fruits[1])

#DICTIONARY
person = {'name': 'Suraj', 'age': 22}
print(person['name'])

banana
Suraj

## Practical Questions

In [17]:
# 1. Write a code to create a string with your name and print it

my_name = "Suraj Gupta"
print(my_name)

Suraj Gupta

In [18]:
# 2. Write a code to find the length of the string "Hello World"

my_string = "Hello World"
length = len(my_string)
print("Length of the string:", length)

Length of the string: 11

In [19]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"

text = "Python Programming"
sliced = text[:3]
print(sliced)

Pyt

In [20]:
# 4. Write a code to convert the string "hello" to uppercase

text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [21]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)

I like orange

In [22]:
# 6. Write a code to create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [23]:
# 7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [24]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [25]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [27]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
reversed_list = numbers[::-1]
# also numbers.reverse() can be used
print(reversed_list)

[50, 40, 30, 20, 10]

In [28]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [29]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

In [30]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

numbers = (10, 20, 5, 15)
minimum = min(numbers)
print("Minimum number:", minimum)

Minimum number: 5

In [31]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print("Index of 'cat':", index)

Index of 'cat': 1

In [32]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "mango")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [33]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [34]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [35]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [36]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [37]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [38]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {
    "name": "Suraj",
    "age": 22,
    "city": "Pune"
}
print(person)

{'name': 'Suraj', 'age': 22, 'city': 'Pune'}

In [39]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [40]:
# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [41]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [42]:
# 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists in the dictionary.

In [43]:
# 26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'Suraj', 'age': 22}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Suraj', 'age': 22}

In [45]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. (replaced)

import random

# Create list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print(random_numbers)

[25, 69, 79, 80, 83]

In [46]:
# 28. Write a code to create a list with strings and print the element at the third index

words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [47]:
# 29. Write a code to combine two dictionaries into one and print the result

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = dict1.copy()
combined_dict.update(dict2)
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [48]:
# 30. Write a code to convert a list of strings into a set.

string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)

{'banana', 'apple', 'cherry'}